/* 
Stylesheet: main.scss
Author: Brian
Description: using sass to compile to css/main.css
*/

// Import Normalize
@import "normalize";

// Mixins
@import "mixins";

// Global Colors
$body: #272727;
$shaded: #555;

$dark-grey: #2d2d2d;
$green: #35bbad; //light sea-green
$blue: #2b61a9; //steel blue

$defaultColor: #E9E9E9;
$successColor: #5DA423;
$warningColor: #F89406;
$errorColor: #C60F13;
$infoColor: #2BA6CB;

// Typography
$body-font: "Helvetica Neue", "Helvetica", Arial, sans-serif; 

// Default radius for most elements
$defaultRadius: 3px;

// Global styles
@import "global";
@import "header";

// Import addtional CSS
@import "grid";
@import "isotope";
@import "responsive";