/* 
Stylesheet: main.scss
Author: Brian
Description: using sass to compile to css/main.css
*/

// Colors
$body: #272727;
$dark-grey: #2d2d2d;
$green: #35bbad; //light sea-green
$blue: #2b61a9; //steel blue

// Typography
$body-font: "Helvetica Neue", "Helvetica", Arial, sans-serif; 

// Vendors
@import "bootstrap";
@import "isotope";

// Layout
@import "layout";
@import "responsive";